{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col s6 offset-s1">
        <h3>What am I looking at?</h3>
        <br>
        <p style="font-size:1.2rem;">Great question.</p>
        <p style="font-size:1.2rem;">DuoPoet is a combination art/programming excercise, 
            where users can randomly generate "DuoPoems" from 2-5 "fragments",
                which are just random prompts from Duolingo.</p>
        <p style="font-size:1.2rem;">While going through Duolingo's Spanish course,
            I found that due to the somewhat basic sentence structure, the ordering of the prompts
            sometimes created surprisingly dark or funny little short poems, 
            so I wrote a web app to generate and store them.
        </p>
        <p style="font-size:1.2rem;">Feel free to make your own. 😊</p>
        <p style="font-size:1.2rem;">I'll try to add new fragments regularly.</p>
        <p style="font-size:1.2rem;">Cheers.</p>
    </div>
</div>
{% endblock body %}