<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Make surprisingly deep poems from Duolingo phrases.">
	<meta name="author" content="Paul Arcoleo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DuoPoet</title>

	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	{# Materialize CSS Documentation: http://materializecss.com/ #}
	{# Future plugin to look at: https://github.com/RubaXa/Sortable #}

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

	{% block head_js %}
	{% endblock head_js %}

	{% block head_css %}
	{% endblock head_css %}


</head>
<body>
	<nav>
	    <div class="nav-wrapper teal lighten-2">
			<a href="{{ url_for('poems') }}" class="brand-logo dp-logo center">DuoPoet</a>
			<ul class="right">
				<li><a href="{{ url_for('generate_poems') }}">Generate Poems!</a></li>
				<li><a href="{{ url_for('about') }}">... what is this?</a></li>
			</ul>
		</div>
  	</nav>


  	
  	<div class="container">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				<div class="row">
					{% for category, message in messages %}
						{% if category == 'success' %}
							<div class="col s12 green" style="padding:1em;margin:1em;">{{ message }}</div>
						{% else %}
							<div class="col s12 yellow" style="padding:1em;margin:1em;">{{ message }}</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		{% endwith %}



		{% block body %}
		{% endblock body %}
	</div>

	{% block nocontainer %}
	{% endblock nocontainer %}
	
</body>
</html>