<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Make surprisingly deep poems from Duolingo phrases.">
	<meta name="author" content="Paul Arcoleo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>DuoPoet</title>

	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	{# Materialize CSS Documentation: http://materializecss.com/ #}
	{# Future plugin to look at: https://github.com/RubaXa/Sortable #}

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

	{% block head_js %}
	{% endblock head_js %}

	{% block head_css %}
	{% endblock head_css %}


</head>
<body>
	
	<div class="container">
	 <nav>
    <div class="nav-wrapper teal lighten-2">
      <a href="#" class="brand-logo dp-logo">&nbsp;DuoPoet</a>
      <ul id="nav-mobile" class="right">
        {% if current_user.is_authenticated %}
        	<li>Welcome, {{ current_user.email }}!</li>
        	<li><a href="{{ url_for_security('logout') }}">Logout</a></li>
        {% else %}
        	<li><a href="{{ url_for_security('register') }}"><i class="material-icons left">fingerprint</i>Register</a></li>
        	<li><a href="{{ url_for_security('login') }}"><i class="material-icons left">account_circle</i>Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
	
	
		{% block body %}
		{% endblock body %}
	</div>
	
</body>
</html>